<div class="container">
    <div class="row">
        <h1 class="heading-title">Contact Us</h1>
    </div>
    <div class="row">
        <h5 style="text-align:center" class="sub-heading">We'd love to hear from you!</h5>
    </div>
    <div class="row input-container">
        <div class="col-xs-12">
            <div class="styled-input wide">
                <input type="text" required />
                <label>Name</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="styled-input wide">
                <textarea required></textarea>
                <label>Message</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-lrg submit-btn">Send Message</div>
        </div>
    </div>
</div>