<h4 class="section-heading">🌾 Our Featured Products</h4>
<div class="products-container">
    <mat-card class="product-card">
        <img src="./assets/crops.jpg" class="product-image" alt="Crops">
        <mat-card-content>
            <h6 class="product-heading">🌿 Fresh Farm Crops</h6>
            <p class="product-overview">Organic vegetables, grains, and seasonal fruits grown with care.</p>
            <button mat-button color="primary">View More</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="product-card">
        <img src="./assets/milk.jpg" class="product-image" alt="Dairy">
        <mat-card-content>
            <h6 class="product-heading">🥛 Dairy Products</h6>
            <p class="product-overview">Pure cow milk, fresh paneer, ghee, and butter from our dairy farm.</p>
            <button mat-button color="primary">View More</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="product-card">
        <img src="./assets/water.jpg" class="product-image" alt="Water">
        <mat-card-content>
            <h6 class="product-heading">🚰 Bottled Water</h6>
            <p class="product-overview">Hygienically processed and purified water bottles for daily use.</p>
            <button mat-button color="primary">View More</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="product-card">
        <img src="./assets/plants.jpg" class="product-image" alt="Plants">
        <mat-card-content>
            <h6 class="product-heading">🌱 Small Plants</h6>
            <p class="product-overview">Healthy saplings and ornamental plants for your home and garden.</p>
            <button mat-button color="primary">View More</button>
        </mat-card-content>
    </mat-card>

    <mat-card class="product-card">
        <img src="./assets/fruits.jpg" class="product-image" alt="Plants">
        <mat-card-content>
            <h6 class="product-heading">🍊Fruits</h6>
            <p class="product-overview">Fruits are not only delicious but also packed with essential nutrients.</p>
            <button mat-button color="primary">View More</button>
        </mat-card-content>
    </mat-card>



</div>