<div class="section-heading-container">
    <h2 class="section-heading">
        🚜 Welcome to Khandare's Agro & Dairy – Nurturing Nature, Delivering Quality! 🌿
    </h2>

    <button mat-raised-button (click)="openContactUsDialog()" class="review-us-button"
        matTooltip="We value your feedback! Click to share your thoughts.">
        Share Your Thoughts!
    </button>

</div>
<div class="card-container">
    <mat-card class="example-card" appearance="outlined">
        <img mat-card-image src="./assets/second-owner.jpg" class="second-owner" alt="Photo of second-owner">
        <mat-card-content>
            <h6 class="welcome-message-heading">🌿 "Welcome to Khandare's Agro & Dairy – Where Nature Meets Quality!
                🌱🐄"</h6>
            <p class="welcome-message">
                "Growing with passion, delivering with trust. Explore our farm-fresh crops, pure dairy, and bottled
                water—straight from nature to you!"
            </p>
            <p class="owner-name-message">- Om Khandare</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
        <img mat-card-image src="./assets/first-owner.jpg" class="second-owner" alt="Photo of owner">
        <mat-card-content>
            <h6 class="welcome-message-heading">🌿 "Bringing You the Freshest Farm Produce! 🚜"</h6>
            <p class="welcome-message">
                "Our commitment is to provide you with fresh crops, nutritious dairy, and pure bottled water for a
                healthier tomorrow!"
            </p>
            <p class="owner-name-message"> - Ramesh Khandare</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
        <img mat-card-image src="./assets/third-owner.jpg" class="second-owner" alt="Photo of third-owner">
        <mat-card-content>
            <h6 class="welcome-message-heading">🌿 "Freshness You Can Taste, Quality You Can Trust! 🌾"</h6>
            <p class="welcome-message">
                "Explore our natural farm products, fresh dairy, and high-quality bottled water – all delivered with
                care and trust."
            </p>
            <p class="owner-name-message"> - Kaushalya Khandare</p>
        </mat-card-content>
    </mat-card>

</div>


<h4 class="review-section-heading">💬 What Our Customers Say</h4>
<div class="testimonial-wrapper">
    <div class="testimonial-container" *ngFor="let customerReview of customersReview">
        <mat-card class="testimonial-card">
            <p class="customer-review">{{ customerReview.review }}</p>
            <h6 class="customer-name">- {{ customerReview.name }}</h6>
        </mat-card>
    </div>
</div>