<mat-toolbar color="primary">
    <span class="heading">Khandare's Agro & Dairy</span>
    <div class="spacer"></div>
    <a mat-button class="navbar-content" (click)="navigateToHome()">
        <mat-icon class="navbar-icon" aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon> Home
    </a>
    
    <a mat-button class="navbar-content" (click)="navigateToGallery()">
        <mat-icon class="navbar-icon" aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon> Explore Our Dairy
    </a>
    <a mat-button class="navbar-content" (click)="navigateToProducts()">
        <mat-icon class="navbar-icon" aria-hidden="false" aria-label="Products" fontIcon="shopping_basket"></mat-icon>
        Products
    </a>
    <a mat-button (click)="navigateToOrders()" class="navbar-content">
        <mat-icon class="navbar-icon" aria-hidden="false" aria-label="Orders" fontIcon="receipt_long"></mat-icon> Orders
    </a>
    <a mat-button (click)="navigateToCart()" class="navbar-content">
        <mat-icon class="navbar-icon" aria-hidden="false" aria-label="Cart" fontIcon="shopping_cart"></mat-icon> Cart
    </a>
    <a mat-button (click)="navigateToAboutUs()" class="navbar-content">
        <mat-icon class="navbar-icon" aria-hidden="false" aria-label="About Us" fontIcon="info"></mat-icon> About Us
    </a>
    <a mat-button class="navbar-content">
        <mat-icon class="navbar-icon" aria-hidden="false" aria-label="Contact Us" fontIcon="contact_mail"></mat-icon>
        Contact Us
    </a>
    <a mat-button class="navbar-content">
        <mat-icon class="navbar-icon" aria-hidden="false" aria-label="Profile & Settings" fontIcon="person"></mat-icon>
        Profile & Settings
    </a>
</mat-toolbar>